* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  height: 100%;
  margin: 0;
  padding: 0;
  /* almostBlack */
  background-color: #17252a;
}

#__next {
  min-height: 100vh;
  height: 100%;
}
